.bg_fond {
  background-image: url("../../../../public/background.png");
  background-size: cover;
  min-width: 100%;
  background-position: center;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  backdrop-filter: blur(4px);
}
.bg_transparent {
  display: flex;
  flex-direction: column;
  align-items: center;

  min-width: 100vw;
  background: rgba(255, 255, 255, 0.05);
  min-height: 100vh;
  backdrop-filter: blur(8px);
}
.container {
  margin: 0 auto;
  max-width: 300px;
}

.loginBox {
  /* padding: 30px; */
  margin-top: 60%;

  /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); */
  /* text-align: center; */
  /* min- */
  width: 100%;
}
@media (min-width: 768px) {
  .loginBox {
    /* padding: 30px; */
    margin-top: 60%;
    width: 330px;
    /* box-shadow: 0 0 20px rgba(0, 0, 0, 0.3); */
    /* text-align: center; */
  }
}

.loginBox h1 {
  /* font-family: ; */
  color: white;
  line-height: 2.3rem;
  font-size: 2.5rem;
  font-weight: 800;
  margin-bottom: 10px;
}

.loginBox h2 {
  color: white;
  font-size: 1.7rem;
  margin-bottom: 15px;
  font-weight: 700;
  letter-spacing: 0.1rem;
}

.loginBox input {
  display: block;
  width: 100%;
  /* padding: 10px;
   */
  padding-left: 1rem;
  height: 45px;
  margin: 8px 0;
  border-radius: 8px;
  border: none;
  background: rgba(255, 255, 255, 0.3);
  color: white;
  font-size: 1.1rem;
  outline: none;
}

.loginBox input::placeholder {
  color: white;
}

.loginBox button {
  width: 100%;
  background: #7b3ff2;
  color: white;
  /* padding: 10px; */
  border: none;
  height: 60px;
  font-size: 1rem;
  border-radius: 10px;
  margin-top: 10px;
  cursor: pointer;
  font-weight: bold;
  transition: background 0.3s ease;
}

.loginBox button:hover {
  background: #622ce2;
}

.error {
  color: #ff6b6b;
  font-size: 13px;
  margin-top: 5px;
}
